/* Первой строкой в файле style.css необходимо добавить обнуление стилей:
 margin: 0;
 padding: 0; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato;
}

a {
  text-decoration: none;
}

.top {
  background-image: linear-gradient(
      90deg,
      rgba(213, 32, 71, 0.8),
      rgba(238, 61, 27, 0.8) 100%
    ),
    url(img/top_image.png);
  background-color: red;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 782px;
}

.center_margin {
  margin-left: 165px;
  margin-right: 165px;
}

.center_margin2 {
  margin-left: 165px;
  margin-right: 260px;
}

/* Для тега 
<header></header>
 задать высоту 100px. */
.header {
  height: 100px;
}

.navbar {
  padding-top: 17px;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  gap: 172px;
  align-items: center;
}

.navbar_logo {
  position: relative;
  width: 64px;
  height: 64px;
}

.navbar__links {
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

/* Ссылкам OVERVIEW FEATURES CONTACT: */
.navbar__link {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.navbar__link:hover {
  text-decoration: underline;
}

/* Заголовку h1 с текстом Coworking (из ДЗ к уроку 1): */
/* Заголовок 
<h1>
 с текстом Coworking:
 Отступ снизу 39px. */
.top__title {
  color: rgb(255, 255, 255);
  font-size: 72px;
  font-weight: 700;
  line-height: 86px;
  letter-spacing: 5%;
  text-align: center;
  text-transform: uppercase;
  margin-top: 140px;
}

/* Параграфу p с произвольным текстом из 10 элементов: */
/* <p></p>
 под заголовком:
 Отступ снизу 39px. */
.top__text {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 39px;
}

.top_text_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Кнопке Sign Up: */
.top__button {
  border: none;
  border-radius: 6px;
  background: rgb(255, 255, 255);
  width: 160px;
  height: 50px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  margin: 0 auto;
  color: rgb(237, 76, 92);
  letter-spacing: 0%;
  text-transform: uppercase;
}

.video-section {
  height: 500px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 125px;
  /* flex-wrap: wrap; */
}

.left_text {
  width: 445px;
  height: 250px;
}

.section__heading_video {
  color: rgb(0, 0, 0);

  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 24px;
}

.video_text {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: justify;
  margin-bottom: 14px;
}

.video-section__link {
  color: rgb(237, 76, 92);
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: justify;
}

.right_img {
  width: 445px;
}

.features_section {
  height: 660px;
  background: rgb(250, 250, 250);
}

.feautes_heading {
  padding-top: 63px;
  padding-bottom: 63px;
  color: rgb(0, 0, 0);
  font-family: Lato;
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0%;
  text-align: center;
}

.features_content {
  display: flex;
  gap: 30px;
  width: 350px;
}

.feature_img {
  height: 250px;
}

.text_block_feature {
  height: 198px;
  padding-top: 33px;
  padding-bottom: 25px;
}

.feature_item_heading {
  padding-bottom: 20px;
  color: rgb(16, 16, 16);
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

.feauture_item_text {
  padding-bottom: 14px;
  color: rgb(16, 16, 16);
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.read_more {
  display: block;
  color: rgb(237, 76, 92);
  font-size: 12px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.section4 {
  height: 500px;
  background: rgb(237, 76, 92);
}

.section4_content {
  display: grid;
  align-items: center; /* Центрирование по вертикали */
  grid-template-columns: 445px 445px;
  gap: 125px;
}

.left_text_block {
  margin-top: 143px;
  margin-bottom: 143px;
}

.section4_heading {
  margin-bottom: 45px;
  color: rgb(255, 255, 255);
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0%;
  text-align: left;
}

.section4_text {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: justify;
}

.right_part {
  padding-top: 95;
  margin-bottom: 94;
  height: 311px;
}

.section4_right_img {
  border-radius: 15px;
}

/* section5 */

.section5 {
  height: 500px;
  background: rgb(255, 255, 255);
}

.section5_content {
  display: grid;
  grid-template-columns: 434px 540px;
  gap: 125px;
}

.section5_left_part_text_block {
  margin-top: 117px;
  margin-bottom: 223px;
}

.section5_heading {
  margin-bottom: 53px;
  color: rgb(0, 0, 0);
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0%;
  text-align: left;
}

.section5_text {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: justify;
}

.right_form_block {
  margin-top: 117px;
  margin-bottom: 78px;
}

.first-last-name {
  display: flex;
  gap: 30px;
}

.name_form {
  width: 255px;
  color: rgba(19, 39, 67, 0.5);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  padding-top: 21px;
  padding-bottom: 20px;
  padding-left: 31px;
  box-sizing: border-box;
  /* Gray 1 */
  border: 1px solid rgb(51, 51, 51);
  border-radius: 6px;
  height: 60px;
}

.phone {
  display: block;
  box-sizing: border-box;
  /* Gray 1 */
  border: 1px solid rgb(51, 51, 51);
  border-radius: 6px;
  width: 540px;
  margin-top: 24px;
  margin-bottom: 24px;
  padding-left: 31px;
  padding-top: 21px;
  padding-bottom: 20px;
  color: rgba(19, 39, 67, 0.5);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}

.select_form {
  display: block;
  box-sizing: border-box;
  /* Gray 1 */
  border: 1px solid rgb(51, 51, 51);
  border-radius: 6px;
  width: 100%;
  appearance: none;
  color: rgba(19, 39, 67, 0.5);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  padding-left: 31px;
  padding-top: 21px;
  padding-bottom: 20px;

  /* Кастомная стрелка (SVG) */
  background-image: url(img/select.svg);
  background-repeat: no-repeat;
  background-position: right 23px center; /* Позиция (отступ справа 20px, по центру вертикали) */
}

.submit_button {
  width: 160px;
  height: 50px;
  margin-top: 27px;
  display: block;
  box-sizing: border-box;
  border: 1.5px solid rgb(237, 76, 92);
  border-radius: 6px;
  background: rgb(237, 76, 92);
  padding: 17px 16px auto;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-transform: uppercase;
}
